#### Sets are collection of unordered items, meaning no order will be maintained.
Sets also store unique items only. No Duplicate is allowed

Useful for performing mathematical set operations like UNION,INTERSECTION,DIFFERENCE,SYMMETRIC DIFFERENCE

### Set Creation

In [6]:
my_set = set()
print(my_set)
print(type(my_set))

set()
<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 7}

### Adding and Removing Elements

In [9]:
my_set1={1,2,3,4,5}
my_set1.add(6)
my_set1.add(7)
print(my_set1)

my_set1.remove(6) # Removes the element but gives error if the element does not exist in the Set
my_set1.discard(7) # Removes the element but does not give the error if the element does not exist in the Set
print(my_set1)
popped_element=my_set1.pop() # Removes random element
print(my_set1)

## Clear all the elements
my_set1.clear()
print(my_set1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}
set()

### SET Membership Test
This is used to check whether element is member of a set or not

In [10]:
new_numbers={1,2,3,4,5}
print(7 in new_numbers)
print(5 in new_numbers)

False
True

### Mathematical Operations
##### UNION : All the elements from all the sets on which union is performed
##### INTERSECTION : Common elements from the sets
##### DIFFERENCE : set_a.difference(set_b) -> common elements from set_a will be removed and only others will be printed
##### SYMMETRIC DIFFERENCE

In [18]:
set_a={1,2,3,4,5,7,8}
set_b={5,7,8,9,10}

## Union
union_set=set_a.union(set_b)
print(union_set)

## Intersection
intersection_set=set_a.intersection(set_b)
print(intersection_set)

## Intersection Update : The set on which this command is operated, all its elements will be replaced by common intersection elements
set_a.intersection_update(set_b)
print(set_a)

{1, 2, 3, 4, 5, 7, 8, 9, 10}
{8, 5, 7}
{8, 5, 7}

##### DIFFERENCE & DIFFERENCE_UPDATE

In [21]:
diff1={1,2,3,4,5}
diff2={1,2,3,6}
print(diff1.difference(diff2))
print(diff2.difference(diff1))

## difference_update will update the elements of the set with the difference between 2 sets

{4, 5}
{6}

### SYMMETRIC DIFFERENCE : Unique elements from both the sets are combined
set_a={1,2,3,4,5}

set_b={1,5,6,7}

symmetric_diff=diff1.symmetric_difference(diff2) -> 2,3,4,6,7

In [23]:
print('diff1 : {}, diff2 : {}'.format(diff1, diff2))
symmetric_diff = diff1.symmetric_difference(diff2)
print(symmetric_diff)

diff1 : {1, 2, 3, 4, 5}, diff2 : {1, 2, 3, 6}
{4, 5, 6}

### SET Methods

In [27]:
set1={1,2,3,4,5}
set2 = {1,2,3,4,5}
print(set1.issubset(set2))
print(set2.issuperset(set1))
print(set1.isdisjoint(set2))
set3={1,2,3,4,5}
set4={6,7,8,9,10}
print(set3.isdisjoint(set4))

True
True
False
True

### A Practical Basic Example

In [30]:
# Reverse each word in a string
sentence='my name is davood ahmad bhat'
arr=sentence.split()
print(arr)
print(type(arr))
for word in arr:
    print(word[::-1],end=' ')

['my', 'name', 'is', 'davood', 'ahmad', 'bhat']
<class 'list'>
ym eman si doovad damha tahb